html {
  height: 100%;
  width: 100%;
}

body {
  background: #eecda3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ef629f,
    #eecda3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ef629f,
    #eecda3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 12px;
  max-width: 200px;
  position: absolute;
}

.card.row {
  background: none;
  border: none;
}

button {
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 30px;
}
